<!-- TITULO -->
<div class="titulo" style="text-align: center;">
  <h1>PoKéDeX</h1>
  <button type="button" class="btn btn-success" style="margin-top: 1%;" (click)="open(content)">INSERTAR POKEMON</button>
</div>
<!-- TABLA DE DATOS -->
<div style="text-align: center; padding: 2%;">
  <table class="table">
    <thead>
      <tr>
        <th>Nº</th>
        <th>NOMBRE</th>
        <th>TIPO</th>
        <th>OPCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.tipo}}</td>
        <td>
          <button type="button" class="btn btn-primary" style="margin-right: 0.5%;" (click)="openOnEdit(content,item)">EDITAR</button>
          <button type="button" class="btn btn-danger" style="margin-left: 0.5%;" (click)="deleteComponent(item)">BORRAR</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- CONTROL DE PAGINACION CON LLAMADA A FUNCION EN EVENTO CLIC-ON-IT -->
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <!-- MODAL - MENU PARA INSERTAR/EDITAR -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" *ngIf="!actualizar">NUEVO POKÉMON</h4>
      <h4 class="modal-title" id="modal-basic-title" *ngIf="actualizar">EDITAR POKÉMON</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <form [formGroup]="pokedexForm">
            <div class="form-group">
              <label><strong>Nº</strong></label>
              <input type="number" formControlName="id" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>NOMBRE</strong></label>
              <input type="text" formControlName="nombre" class="form-control">
            </div>
            <div class="form-group">
              <label><strong>TIPO</strong></label>
              <input type="text" formControlName="tipo" class="form-control">
            </div>
          </form>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="createComponent()" *ngIf="!actualizar">GUARDAR</button>
      <button type="button" class="btn btn-primary" (click)="updateComponent()" *ngIf="actualizar">ACTUALIZAR</button>
    </div>
  </ng-template>
</div>